#eventSearch{
    margin-left: 20px;
    padding: 0;
    min-width: 328px;
    max-width: 328px;
}

#eventSearch__searchBlock{
    margin-bottom: 15px;
    background: #F9F9F9;
    padding: 0 0 0 10px;
    border-radius: 2px;
    min-width: 100%;
    box-sizing: border-box;

}
#eventSearch__searchBlock input{
    background: none;
    line-height: 25px;
    border: none;
    font-size: 13px;
    width: 280px;
}
#eventSearch__searchBlock img{
    position: relative;
    top: 1px;
}

.eventSearch__resultItem{
    padding: 10px;
    background: white;
    min-width: 100%;
    box-sizing: border-box;
    cursor: pointer;
    box-shadow: 0 0 4px 0 rgba(21, 57, 129, 0.35);
    transition: box-shadow 0.2s ease, margin-left 0.2s ease;
    margin-top: 10px;
}
.eventSearch__resultItem:hover{
    box-shadow: 0 0 4px 0 rgba(21, 57, 129, 0.55);
}

.eventSearch__resultItem__chosen{
    box-shadow: 0 0 5px 0 rgba(21, 57, 129, 1);
    margin-left: 7px;
}
.eventSearch__resultItem__chosen img{
    opacity:1 !important;
}
.eventSearch__resultItem__chosen:hover{
    box-shadow: 0 0 5px 0 rgba(21, 57, 129, 1);
    margin-left: 7px;
}
.eventSearch__resultItem p {
    width: 100%;
}
.eventSearch__resultItem img{
    position: absolute;
    margin-top: -27px;
    margin-left: 318px;
    opacity: 0;
    transition: opacity 1s ease;
}
.eventSearch__resultItem__title{
    font-family: HelveticaNeue-Bold;
    font-size: 14px;
    letter-spacing: 0.3px;
    line-height: 17px;

}

.eventSearch__resultItem__itemId{
    float: right;
    line-height: 17px;
    font-size: 13px;
}

.eventSearch__resultItem__numberOfFlights{

}
.eventSearch__resultItem__date{
    font-size: 12px;
    color: #B0B0B0;
    letter-spacing: 0.3px;
    float: right;
}


.searchResultItemAnimate-enter {
    opacity: 0.01;
}

.searchResultItemAnimate-enter.searchResultItemAnimate-enter-active {
    opacity: 1;
    transition: opacity 200ms ease-in;
}

.searchResultItemAnimate-leave {
    opacity: 1;
}

.searchResultItemAnimate-leave.searchResultItemAnimate-leave-active {
    opacity: 0.01;
    transition: opacity 100ms ease-in;
}

