.eventDetailedDescription {
    margin-left: 20px;
    transition: opacity 0.2s ease;
}

.eventDetailedDescription-appear {
    opacity: 1;
}

.eventDetailedDescription-disappear {
    opacity: 0;
}

#flightArrow {
    max-height: 12px;
    max-width: 15px;
}

/* Text classes for Flights*/
.flight_code_text {
    font-family: HelveticaNeue;
    font-size: 13px;
    color: #184092;
    letter-spacing: 0.3px;
    padding-right: 10px;
}

.cancelled_text_flight {
    font-family: HelveticaNeue;
    font-size: 13px;
    color: #F5A623;
    letter-spacing: 0.3px;
}

.delayed_text_flight {
    font-family: HelveticaNeue;
    font-size: 13px;
    color: #878787;
    letter-spacing: 0.3px;
}

.on_time_text_flight {
    font-family: HelveticaNeue;
    font-size: 13px;
    color: #208118;
    letter-spacing: 0.3px;
}

.solve_text_flight {
    font-family: HelveticaNeue;
    font-size: 13px;
    color: #D0021B;
    letter-spacing: 0.3px;
}

.active_text_flight {
    font-family: HelveticaNeue;
    font-size: 13px;
    color: #000000;
    letter-spacing: 0.3px;
    padding-right: 10px;

}

.non-active_text_flight {
    font-family: HelveticaNeue;
    font-size: 13px;
    color: #878787;
    letter-spacing: 0.3px;
    padding-right: 10px;
}

#solvePic{
    max-height: 12px;
    max-width: 12px;
}

.eventDetailedDescription__detailed_info {
    display: flex;
    align-items: flex-start;
}

.eventDetailedDescription__header{
    margin-top: 3px;
    font-family: HelveticaNeue-Medium;
    font-size: 18px;
    letter-spacing: 0.3px;
}

.eventDetailedDescription__left{
    background: white;
    padding:15px;
    margin-top:15px;
    min-width: 294px;
    min-height: 600px;
}

.eventDetailedDescription__searchBlock{
    background: #F9F9F9;
    padding-left: 10px;
    border-radius: 2px;
    min-width: 252px;
    max-width: 252px;
    box-sizing: border-box;
    display: inline-block;
    margin-left: 15px;
}
.eventDetailedDescription__filterIcon{
    cursor: pointer;
    transition: box-shadow 0.1s ease;
}
.eventDetailedDescription__filterIcon:hover{
    box-shadow: 0 0 4px 0 rgba(21, 57, 129, 0.35);
}

.eventDetailedDescription__search{
    max-width: 252px;
    display: flex;
    align-items: flex-start;
}
.eventDetailedDescription__searchBlock input{
    background: none;
    line-height: 25px;
    border: none;
    font-size: 13px;
}

.eventDetailedDescription__timeBlock{
    margin-top:20px;
}
.eventDetailedDescription__timeBlockHeader{
    font-family: HelveticaNeue-Medium;
    font-size: 15px;
    letter-spacing: 0.3px;
    padding-top:10px;
}

.eventDetailedDescription__timeBlockFlights {
    padding-left: 13px;
    padding-top: 10px;
}

.eventDetailedDescription__center{
    background: white;
    padding:15px;
    margin-top:15px;
    min-width: 290px;
    min-height: 600px;
}

.eventDetailedDescription__sectionHeader{
    font-family: HelveticaNeue-Medium;
    font-size: 15px;
    letter-spacing: 0.3px;
    padding-top: 3px;
}

.eventDetailedDescription__logBlockHeader {
    padding-top: 10px;
}

.eventDetailedDescription__logName {
    font-family: HelveticaNeue;
    font-size: 13px;
    color: #184092;
    letter-spacing: 0.32px;
    font-weight: 500;
}

.eventDetailedDescription__logTime {
    font-family: HelveticaNeue;
    font-size: 12px;
    color: #5C5C5C;
    letter-spacing: 0.3px;
    float: right;
    padding-right: 10px;
}

.eventDetailedDescription__logText {
    font-family: HelveticaNeue;
    font-size: 13px;
    color: #000000;
    letter-spacing: 0.32px;
    padding-top: 9px;
    padding-left: 20px;
}

.eventDetailedDescription__right {
    background: white;
    padding: 15px;
    margin-top: 15px;
    min-width: 185px;
    min-height: 600px;
}

.eventDetailedDescription__detailsBlock {
    padding-top: 10px;
}

.eventDetailedDescription__detailsSubBlock {
    padding-left: 20px;
    padding-top:2px;
}

.eventDetailedDescription__detailsText {
    font-family: HelveticaNeue;
    font-size: 13px;
    color: #5C5C5C;
    letter-spacing: 0.38px;
}

.eventDetailedDescription__detailsImportantInfo {
    font-family: HelveticaNeue;
    font-size: 13px;
    color: #184092;
    letter-spacing: 0.38px;

}

.eventDetailedDescription__detailsNumbers {
    font-family: HelveticaNeue-Bold;
    font-size: 13px;
    color: #000000;
    letter-spacing: 0.38px;
}

.eventDetailedDescription_detailesLessImportantNums {
    font-family: HelveticaNeue;
    font-size: 13px;
    color: #000000;
    letter-spacing: 0.38px;
}